$clr1: white;
$clr2: '#2e2e2e';

$sunny_bgi: "https://images.unsplash.com/photo-1584269910288-f58f0283239d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80";
$rain_bgi: "https://images.unsplash.com/photo-1562155955-1cb2d73488d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80";
